<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practiceanything"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.practiceanything.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FULLSCREEN" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.practiceanything.WeekActivity"
            android:label="@string/title_activity_week"
            android:theme="@style/FULLSCREEN" >
        </activity>
        <activity
            android:name="com.example.practiceanything.TaskEnterActivity"
            android:label="@string/title_activity_task_enter"
            android:theme="@style/FULLSCREEN" >
        </activity>
    </application>

</manifest>
